@import "@/styles/variables";
@import "@/styles/mixins";

.hero {
  background: $color-bg-primary;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  position: relative;
}

.content {
  position: relative;
}

.title {
  font-family: "Gotham HTF", sans-serif;
  font-weight: 400;
  font-size: 11rem;
  color: $color-text-primary;
  z-index: 20;
  position: relative;
  line-height: 12rem;

  opacity: 0;
  transform: translateY(-10px);
  animation: fadeSlideIn 0.4s ease-out forwards;

  &:nth-of-type(1) {
    animation-delay: 0s;
  }

  &:nth-of-type(2) {
    animation-delay: 0.2s;
  }

  @keyframes fadeSlideIn {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @include respond("md") {
    font-size: 6.5rem;
    line-height: 180%;
    top: 6vh;
  }

  @include respond("sm") {
    font-size: 5rem;
    line-height: 70%;
  }

  @include respond("mobl") {
    font-size: 2.9rem;
    line-height: 120%;
    top: 4vh;
  }
}

.title:first-of-type {
  margin-left: 7.6rem;
  margin-bottom: -11rem;

  @include respond("sm") {
    margin-left: 3.5rem;
    margin-bottom: -3rem;
  }
}

.subtitle {
  font-family: "Gotham HTF", sans-serif;
  font-weight: 800;
  font-size: 35rem;
  color: $color-text-quaternary;
  position: absolute;
  top: -13%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;

  opacity: 0;
  animation: fadeIn 0.4s ease-out forwards;
  animation-delay: 0.7s;

  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }

  @include respond("md") {
    font-size: 20rem;
    top: 4vh;
  }

  @include respond("sm") {
    font-size: 15rem;
    line-height: 14rem;
    top: 0;
    text-align: right;
  }

  @include respond("mobl") {
    font-size: 10rem;
  }
}
