// Cores
$color-text-primary: #ffffff;
$color-text-secondary: #949b99;
$color-text-tertiary: #8a959b;
$color-text-quaternary: #0b0c0d;
$color-magenta-accent: #f80d5a;

$color-bg-primary: #000000;
$color-bg-header: #202121;
$color-divider: #566165;
$color-divider-secondary: #313738;
$color-magenta-primary: #ed145b;
$color-magenta-secondary: #fd145b;
$color-magenta-outline: #f80d5a;

// Alturas
$header-height: 8rem;
