@import "@/styles/variables";
@import "@/styles/mixins";

.faqItem {
  cursor: pointer;
  max-width: 43.5rem;
  transition: all 0.3s ease;
  width: 100%;
  height: 20rem;
  display: flex;
  flex-direction: column;

  .line {
    width: 6.5rem;
    margin-bottom: 3rem;
    border: 2px solid $color-magenta-primary;
  }

  .question {
    font-family: "Gotham HTF", sans-serif;
    font-weight: 500;
    font-size: 2rem;
    text-transform: uppercase;
    color: $color-text-secondary;
    margin: 0;
    line-height: 1.3;
    transition: color 0.3s ease;

    &.questionActive {
      color: $color-text-faq;
    }
  }

  .answer {
    margin-top: 1.4rem;
    overflow: hidden;
    flex-grow: 1;

    p {
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 1.6rem;
      color: $color-text-secondary;
      margin: 0;
      line-height: 1.5;
    }
  }

  @include respond("sm") {
    max-width: 100%;
    height: 10rem;

    .answer p {
      font-size: 1.5rem;
    }
  }
}
