@import "@/styles/variables";
@import "@/styles/mixins";

.progress {
  position: fixed;
  left: 0;
  right: 0;
  height: 5px;
  background: $color-magenta-accent;
  bottom: 10rem;
}

.parallax {
  overflow: hidden;
  letter-spacing: -2px;
  line-height: 0.8;
  margin: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;

  padding: 0;
  margin: 0;
}

.scroller {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 8.3rem;
  display: flex;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;

  @include respond("sm") {
    font-size: 3.5rem;
  }
}

.scrollerBig {
  font-size: 14.4rem;
}

.outlined {
  .scroller span {
    color: transparent;
    -webkit-text-stroke: 2px $color-text-stroke;
  }
}

.border {
  border-bottom: 1px solid $color-text-primary;
  padding: 2.5rem 0;
}

.italic {
  font-style: italic;
}

.parallax span {
  display: block;
  margin-right: 3rem;
}
